@font-face {
    font-family: karla;
    src: url("../resources/Karla-Regular.ttf");
}


.input-wrapper {
    display: flex;
    margin: 5px 0 5px 0;
}

.button-copy {
    border: solid 1px cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    cursor: pointer;
}
.button-copy > span {
    font-size: 20px;
    margin-left: 5px;
    font-family: karla, sans-serif;
}
